// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

// VARIABLES
// ## Colors

@clr-primary-orange-500: hsl(25, 97%, 53%);
@clr-white: hsl(0, 0%, 100%);
@clr-neutral-grey-400: hsl(217, 12%, 63%);
@clr-neutral-blue-800: hsl(213, 19%, 18%);
@clr-neutral-blue-900: hsl(216, 12%, 8%);

// ## Typography
@fs-regular: 0.938rem;

// ### Font

@ff-regular: "Overpass", sans-serif;
@fw-regular: 400;
@fw-bold: 700;

.heading-large {
	font-size: clamp(1.5rem, 3.65vw, 1.75rem);
	font-weight: @fw-bold;
}

.rating-text {
	font-size: clamp(0.875rem, 2.083vw, 1rem);
	font-weight: @fw-bold;
	letter-spacing: 0.2px;
	line-height: 1.5;
}

.heading-medium {
	font-size: clamp(0.875rem, 1.95vw, @fs-regular);
	letter-spacing: 2px;
	font-weight: @fw-bold;
}

.body-text {
	font-size: clamp(0.875rem, 1.953vw, @fs-regular);
	line-height: 1.6;
}

.flex(@align, @justify, @direction) {
	display: flex;
	align-items: @align;
	justify-content: @justify;
	flex-direction: @direction;
}

.active-state(@bcg-color, @text-color) {
	background-color: @bcg-color;
	color: @text-color;
}

// GENERAL STYLES

body {
	background-color: @clr-neutral-blue-900;
	color: @clr-neutral-grey-400;
	display: grid;
	place-content: center;
	min-height: 100vh;
	padding: 1.5rem;
	.body-text();

	main {
		background-image: radial-gradient(
			@clr-neutral-blue-800,
			@clr-neutral-blue-900
		);
		border-radius: 0.938rem;
		.flex(center,center, column);
		padding: 1.5rem;
		max-width: 25.75rem;
	}

	.header {
		.heading-large();
		color: @clr-white;
	}
}
.round {
	width: 2.5rem;
	height: 2.5rem;
	background-color: @clr-neutral-blue-800;
	border-radius: 50%;
}

.btn {
	border-radius: 1.406rem;
	background-color: @clr-primary-orange-500;
	border: none;
	outline: none;
	padding: 0.875rem;
	text-transform: uppercase;
	color: @clr-neutral-blue-900;
	.heading-medium();
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover,
	&:focus,
	&:active {
		background-color: @clr-white;
	}
}

// RATINGS PAGE STYLES

.rating {
	.flex(felx-start, center, column);
	gap: 2rem;
	.rating__hero {
		.flex(center, center, column);
	}
	.rating__main {
		.flex(flex-start, center, column);
		gap: 1rem;

		.rating__options {
			display: grid;
			width: 100%;
			gap: 1rem;

			fieldset {
				.flex(flex-start, space-between, row);
				border: none;
				.rating__option[type="radio"] {
					opacity: 0;
					position: fixed;
					width: 0;
				}
				.rating__option-label {
					display: inline-block;
					text-align: center;
					padding-top: 0.5rem;
					.rating-text();
					color: @clr-neutral-grey-400;
					cursor: pointer;
					transition: all 0.3s;

					&:hover {
						.active-state(@clr-primary-orange-500, @clr-neutral-blue-800);
					}

					&.active {
						.active-state(@clr-white, @clr-neutral-blue-800);
					}
				}
			}
		}
	}
}

// THANKS SECTION STYLES
.thanks {
	.flex(center, center, column);
	display: none;
	.thanks__header {
		.thanks__summary {
			text-align: center;
			margin: 1rem 0;
			.active-state( @clr-neutral-blue-800, @clr-primary-orange-500);
			padding: 0.563rem;
			border-radius: 1.406rem;
		}
	}

	.thanks__main {
		text-align: center;
	}
}
